<h2 class="card-title" hx-get="/project/index/i" hx-target="#right-bar" hx-trigger="every 5s">{{ project.name }} Project</h2>

<div class="tabs tabs-lift">
    <label class="tab"> <span class="fa fa-home"></span>
      <input type="radio" name="my_tabs_4" checked="checked"/>
     Home
    </label>
    <div class="tab-content bg-base-100 border-base-300 p-6">
        <div id="project-home" class="grid grid-flow-row grid-row-2 md:grid-cols-4 gap-4"> 
            <div id="projecthome-left-display" class="md:col-span-2 bg-blue-100 border-blue-200 rounded-sm ml-2">
               <span id="project-id">{{project._id}}</span> 
               {{ project.owner }}
        
            </div>
            <div id="projecthome-left-display" class="md:col-span-2 bg-gray-100 border-gray-300 rounded-sm ml-2">
                {{ project.address }}
            </div>
        </div>
    </div>
  
    <label class="tab"><span class="fa fa-bank"></span>
      <input type="radio" name="my_tabs_4" />
      Account
    </label>
    <div class="tab-content bg-base-100 border-base-300 p-6">
        {{ project.account }}
    </div>
  
    <label class="tab"><span class="fa fa-user-times"></span>
      <input type="radio" name="my_tabs_4" />
      Workers
    </label>
    <div id="workers-console" class="tab-content bg-base-100 border-base-300 p-6">
      {% include 'components/project/Workers.html' %}
        
    </div>

    <label class="tab"><span class="fa fa-face-cogs"></span>
        <input type="radio" name="my_tabs_4" />
        Jobs
      </label>
      <div id="job-console" class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'components/project/Jobs.html' %}
          
      </div>

    
      <label class="tab"><span class="fa fa-history"></span>
        <input type="radio" name="my_tabs_4" />
        Daywork
      </label>
      <div id="days-console" class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'components/project/Days.html' %}
            
      </div>

    <label class="tab"><span class="fa fa-dollar"></span>
        <input type="radio" name="my_tabs_4" />
        Rates
      </label>
      <div id="rates-console" class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'components/project/Rates.html' %}   
      </div>

    
      <label class="tab"><span class="fa fa-cubes"></span>
        <input type="radio" name="my_tabs_4" />
        Inventory
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
          {{ project.inventorys }}    
      </div>


    <label class="tab"><span class="fa fa-list-alt"></span>
        <input type="radio" name="my_tabs_4" />
        Orders
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
        {% include 'components/project/Orders.html' %}     
      </div>


    <label class="tab"><span class="fa fa-hourglass-start"></span>
        <input type="radio" name="my_tabs_4" />
        Event/State
      </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
          {{ project.events }}    {{ project.states }}    
      </div>


    <label class="tab"><span class="fa fa-list-ul"></span>
        <input type="radio" name="my_tabs_4" />
        Logs
    </label>
      <div class="tab-content bg-base-100 border-base-300 p-6">
        <div id="project-activity-log"> 
          {% include 'components/project/ActivityLogs.html' %}
        </div>
        
      </div>



  </div>



<!--script type="module" src="/static/js/app/app.js"></!--script-->