
<p class="text-lg text-center font-semibold"><label class="btn btn-ghost" hx-get="/Project/{{job.project_id}}/jobs/i" hx-target="#job-console" hx-trigger="click">
            <span class="fa fa-chevron-left"></span>Jobs</label> {{job.title}}</p>

<div class="uk-grid">
    <div class="uk-width-1-5@m overflow-y-auto h-96">

        <ul class="uk-nav uk-nav-default uk-nav-divider bg-blue-200 uk-border-rounded uk-padding-small uk-margin" uk-switcher="connect: #project-job; animation: uk-animation-fade">
            <li><a href="#"><span class="fa fa-clock"></span> Home</a></li>
            <li><a href="#"><span class="fa fa-arrow-circle-right"></span> Tasks</a></li>
            <li><a href="#"><span class="fa fa-arrow-circle-left"></span> Bill</a></li>
            <li><a href="#"><span class="fa fa-cart-plus"></span> Crew</a></li>
            <li><a href="#"><span class="fa fa-ticket"></span> State</a></li>
            <li><a href="#"><span class="fa fa-list-ol"></span> Event</a></li>
            <li><a href="#"><span class="fa fa-handshake"></span> Add Crew</a></li>
            <li><a href="#"> <span class="fa fa-dollar"></span> Add Task</a></li>
            <li></li>
        </ul>

    </div>
    <div class="uk-width-expand@m">

        <div id="project-job" class="uk-switcher">
            <div id="job-home">{% include 'components/project/job/Home.html' %}</div>
            <div id="job-tasks">{% include 'components/project/job/Tasks.html' %}</div>
            <div id="job-bill"><p class="text-lg">Job BOQ</p>{{ job.tasks }}</div>
            <div id="job-crew"><p class="text-lg">Job Crew</p> {{ job.crew }}</div>
            <div id="job-state"><p class="text-lg">Job State</p> {{ job.state }}</div>
            <div id="job-event"><p class="text-lg">Job Event</p> {{ job.event }}</div>
            <div id="job-event"><p class="text-lg">Add Crew</p> {{ project.workers }}</div>
            <div id="job-event"><p class="text-lg">Add Task</p> {{ project.rates }}</div>

        </div>


    </div>
</div>




