<div id="jobs-index">
<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" onclick="new_job.showModal()">Jobs <span class="badge badge-primary badge-xs">{{ project.jobs | length }}</span></a>
    </div>
    <div class="navbar-start">
        <ul class="menu menu-horizontal px-1">
        <li><label class="input">
            
            <input type="search" name="search-project-jobs" required placeholder="Search Jobs" class="input-sm rounded-md" />
          </label>
        </li>
        <li>
            <details>
              <summary>Filter</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a>Link 1</a></li>
                <li><a>Link 2</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><button class="btn" onclick="new_job.showModal()">Create New Job</button></li>        
        
      </ul>
    </div>
  </div>
   

  <div class="overflow-y-auto sm:overflow-x-auto h-96 p-5">
    <table class="table table-zebra table-xs md:table-sm">
      <!-- head -->
      <thead>
        <tr>
          <th>Id</th>          
          <th>Title</th>
          <th>Description</th>
          <th>Phase</th>
          <th>Crew</th>          
          <th>Tasks</th>
          <th>State </th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        
        {% for row in project.jobs  %}
        <tr>
          <th><label>{{ row._id }}</label></th>
          <td class="cursor-pointer" hx-get="/Project/{{row.project_id}}/jobs/{{ row._id }}" hx-target="#job-console" hx-trigger="click">{{ row.title }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.projectPhase }}</td>
          <td> {{ row.crew.name }} </td>
          <th> {{ row.tasks | length }} </th>
          <td>
            {% if row.state.active %}
                <span class="badge badge-success">Active</span>
            {% elif row.state.complete %}
                <span class="badge badge-primary">Completed</span>
            {% elif row.state.pause %}
                <span class="badge badge-warning">Paused</span>
            {% elif row.state.terminate %}
                <span class="badge badge-error">Terminated</span>
            {% else %}
              
                <span class="badge badge-outline badge-accent badge-sm">Ready</span>
            {% endif %}
            
        </td>
        <td><span class="badge">{{ row.get('progress') }}% </span></td>
        </tr>
        {% endfor %}

        
        <!-- row 1 -->       
        <tr>
          <th></th>
          <td></td>
          <td></td>
          <td></td>
          <td> </td>
          <th></th>
        </tr>
        
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
            <th>Id</th>          
            <th>Title</th>
            <th>Description</th>
            <th>Phase</th>
            <th>Crew</th>          
            <th>Tasks</th>
            <th>State </th>
            <th>Progress</th>
          </tr>
      </tfoot>
    </table>
   
  
  </div>
  
<dialog id="new_job" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="text-lg font-bold">Create New Job</h3>
    <p class="py-4">Click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>
</div>
