<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl" onclick="add_rate_modal.showModal()">Rates</a>
    </div>
    <div class="navbar-start">
        <ul class="menu menu-horizontal px-1">
        <li><label class="input">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
              </g>
            </svg>
            <input type="search" name="search-project-worker" required placeholder="Search" class="input-sm rounded-md" />
          </label>
        </li>
        <li>
            <details>
              <summary>Filter</summary>
              <ul class="bg-base-100 rounded-t-none p-2">
                <li><a>Link 1</a></li>
                <li><a>Link 2</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><button class="btn" onclick="add_rate_modal.showModal()">Add Rate To Project</button></li>        
        <li><button class="btn" ><span class="fa fa-print"></span>Print Rates</button></li> 
      </ul>
    </div>
  </div>
  
  <div class="overflow-y-auto sm:overflow-x-auto h-96 p-5">
    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
            <tr>
            
            <th scope="col" class="px-2 py-2 text-start text-xs font-medium text-gray-500 uppercase">Title</th>
            <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Description</th>
            <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Category</th>
            <th scope="col" class="px-4 py-2 text-start text-xs font-medium text-gray-500 uppercase">Metric</th>
            <th scope="col" class="px-4 py-2 text-end text-xs font-medium text-gray-500 uppercase">Imperial</th>
            <th></th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
    
    {% for rate in project.rates %}
    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">      
    
    <td class="px-2 py-2 whitespace-wrap text-sm font-medium text-gray-800 dark:text-gray-200 w-48 cursor-pointer" 
    hx-get="/Project/{{project._id}}/rates/{{ rate._id }}" hx-target="#rates-console" hx-trigger="click"
    >{{ rate.get('title')  }} </td>
    <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ rate.get('description')  }} </td>
    <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ rate.get('category')  }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ rate.metric.price | to_dollars  }}  /{{ rate.metric.unit }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">{{ rate.imperial.price | to_dollars  }}  /{{ rate.imperial.unit }} </td>
    <td class="px-4 py-2 whitespace-nowrap text-end text-sm font-medium">
    <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Delete</button>
    </td>
    </tr>
    {% endfor %}
    
            </tbody>
        </table>
   
  </div>
  
<dialog id="add_rate_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="text-lg font-bold">Add Industry Rate To Project</h3>
    <p class="py-4">Click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>