
 <span class="btn btn-ghost text-blue-500 text-xl" onclick="my_modal_4.showModal()">Workers</span>

<div class="uk-grid">
  <div class="uk-width-1-5@m">
    <ul 
        class="uk-nav uk-nav-default uk-nav-divider bg-blue-200 uk-border-rounded uk-padding-small uk-margin animation: uk-animation-fade" 
    >
    <li>
      <div class="uk-margin">
          <form class="uk-search uk-search-default uk-form-small">
              <span uk-search-icon></span>
              <input class="uk-search-input rounded" type="search" placeholder="Search" aria-label="Search">
          </form>
      </div>
    </li>
      <li> 

        <div class="uk-inline">
            <!--button class="uk-button uk-button-default" type="button"></!--button-->
           <a class="uk-link-text" href="#">Filter</a>
            <div uk-dropdown="mode: click">
             <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
              </ul>
            </div>
        </div>
      </li>
        <li><a class="uk-link-text text-lg font-semibold" onclick="my_modal_4.showModal()">Add Worker</a> </li>
           
    </ul>

  </div>
  <div class="uk-width-expand@m"> 

      <div id="project-workers" class="overflow-y-auto sm:overflow-x-auto h-96 p-5">
        <table class="uk-table uk-table-small uk-table-responsive font-medium text-gray-800 ">
          <!-- head -->
          <thead>
            <tr>
              <th>Profile</th>     
              <th>Name</th>
              <th>Occupation</th>
              <th>Rating</th>
              <th>Contact</th>          
              <th>manage</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            {% for row in project.workers  %}
            <tr> 
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-12 w-12">
                      <img
                        src="{{ row.value.imgurl }}"
                        alt="{{ row.value.oc }}" />
                    </div>
                  </div>             
                </div>
              </td>
              <td>
                <div 
                class="font-bold cursor-pointer" 
                hx-get="/Project/{{project._id}}/workers/{{ row.id }}" 
                hx-target="#workers-console" 
                hx-trigger="click">{{ row.value.name }}
              </div>
              </td>
              <td>           
              {{ row.value.occupation }}
              </td>
              <td>
                <div class="rating rating-sm">
                    {% for rating in range(row.value.rating|int) %}
                    <div class="mask mask-star" aria-label="{{ rating + 1 }} star"></div>
                    {% endfor %}
                  </div>
              </td>
              <td><p class="flex flex-col px-2">
                
                    <label><span class="fa fa-envelope"></span> {{ row.value.email }} </label>
                    <label><span class="fa fa-mobile-phone"></span> {{ row.value.mobile }}</label>
                </p> 
              </td>
              <td>
              
                <div class="tooltip">
                    <div class="tooltip-content">
                      <div class="animate-bounce text-orange-400 -rotate-3 text-xs font-black p-2">Remove {{row.value.oc}}<br> From Project!</div>
                    </div>
                    <button class="btn"><span class="fa fa-trash"></span></button>
                  </div>
              </td>
            </tr>
            {% endfor %}
            <!-- row 1 -->       
            
            
          </tbody>
          <!-- foot -->
          
        </table>
      
      </div>
  </div> 
</div>
  
<dialog id="my_modal_4" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="text-lg font-bold">Add Worker To Project</h3>
    <p class="py-4">Click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>