
{% if project.account.records.invoices %}

 <a href="#invoice-modal" uk-toggle><span class="text-lg text-blue-500 font-semibold tooltip tooltip-info" data-tip="Record purchase invoice ">Purchase Invoices</span></a>
 <div id="invoice-result"></div>
<div class="flex flex-col text-xs overflow-y-auto sm:overflow-x-auto h-96 p-1">

    <table class="uk-table uk-table-small uk-table-responsive text-gray-800">
        <thead>
            <tr>      
                <th>Supplier</th>  
                <th>Invoice No.</th>           
                <th>Date</th>
                <th>Items</th>
                <th>Tax</th>
                <th>Total</th>
                                   
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for d in project.account.records.invoices |reverse %}                      

                <tr>  
                    <td>{{ d.supplier.name }}</td>    
                    <td>{{ d.invoiceno }}</td>        
                    <td>{{ d.date | convert_timestamp  }}</td>
                    <td> 
                        {% if d.get('items') | length > 0 %}
                       {{ d.get('items') | length }}
                       {% else %}
                       <span class="badge badge-info badge-sm">record</span>
                       {% endif %}
                    </td>
                    <td>{{ d.tax | to_dollars }} </td>
                    <td>{{ d.total | to_dollars }}</td>
                    
                    <td>
                         <span
                        class="tooltip cursor-pointer"                       
                        data-tip="Delete record?"
                        hx-delete="/Project/{{project._id}}/invoice/{{d.inv_id}}"
                        hx-confirm="Are you shure you want to delete invoice {{d.invoiceno}}?"
                        hx-target="#account-invoices"
                        hx-trigger="click"
                        ><span class="fa fa-trash"></span></span>               
                    </td>
                </tr>
            {% endfor %}
                <tr > 
                    <td>Total purchases to Date</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ project.account.records.invoices | tally | to_dollars }}</strong></td>
                    <td></td>
                </tr>
        </tbody>
    </table>
    
</div>

{% else %}
<p class="text-lg">There are no Recorded Invoices to  date! </p><br>
<a href="#invoice-modal" uk-toggle>Record Purchase Invoice</a>
{% endif %}

<!-- This is the Deposit modal -->
<div id="invoice-modal" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body rounded-lg">
        <p class="text-lg text-center font-semibold">Purchase Invoice </p>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body">
                    <form 
                    hx-post="/Project/{{project._id}}/invoice/p"
                    hx-target="#account-invoices"
                    hx-trigger="submit"                        
                    class="uk-grid-small" 
                    uk-grid
                    >
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Date</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="date" placeholder="Date" name="date" aria-label="Date">
                                </div>
                            </div>                
                        </div>
                        <div class="uk-width-1-2@s">                
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Invoice Number</label>
                                <div class="uk-form-controls">
                                    <input id="invoiceno" class="uk-input" type="text" placeholder="Invoice no." name="invoiceno" aria-label="Invoice No.">
                                </div>
                            </div>                
                        </div>
                        
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Supplier</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="text" placeholder="Supplier" name="name" aria-label="Supplier">
                                </div>
                            </div>                
                        </div>
                        <div class="uk-width-1-2@s">                
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Select Supplier</label>                    
                                <select class="uk-select" aria-label="Select" name="name">
                                    <option>Supplier</option>
                                    {% for supplier in suppliers %}
                                    <option>{{supplier}}</option>
                                    {% endfor %}
                                </select>
                    
                            </div>                
                        </div>     

                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Tax</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="number" step="0.01" placeholder="Gct" name="tax" aria-label="Tax">
                                </div>
                            </div>                
                        </div>
                        <div class="uk-width-1-2@s">                
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-horizontal-text">Total</label>
                                <div class="uk-form-controls">
                                    <input class="uk-input" type="number" step="0.01" placeholder="Total." name="total" aria-label="Total.">
                                </div>
                            </div>                
                        </div>   
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <a href="/Project/{{project._id}}/reset_invoice/c"
                                class="uk-button uk-button-default uk-modal-close" type="button">Cancel</a>
                            </div>                
                        </div>
                        <div class="uk-width-1-2@s">                
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary rounded-md uk-modal-close" type="submit">Save Invoice</button>
                        
                            </div>                
                        </div>                   
           
    
                        <p class="uk-text-right">
                        
                            </p>
                    </form>
      
                </div>
            </div>
            <div>
                <!--button 
                class="btn btn-primary btn-sm" 
                hx-get="/Project/invoice_items/i/i" 
                hx-target="#invoice-items" 
                hx-trigger="click"
                >Items</!--button-->
                <div id="invoice-items" >
                    {% include 'components/project/account/InvoiceItems.html' %}
                    
                </div>
            </div>
            
        </div>
       
    </div>
</div>
