<div class="bg-gray-50 p-5 m-2 rounded-md shadow">
    <div class="flex flex-row">
        {% if shared %}
                <span uk-icon="icon: link-external; ratio: .75"  uk-tooltip="This Item is being Shared with Peers!"></span>
                {% else %}
                  
        <span 
                class="pointer" 
                uk-icon="icon: social; ratio: .75" 
                uk-tooltip="Share with Peers across the Network!"
                hx-get="/share/rate/{{rate._id}}/{{rate.title}}/construction {{rate.category}} rate/{{request.user.username}}"
                hx-swap="outerHTML"
                hx-trigger="click"

                ></span>
                {% endif %}
        <p class="text-lg text-center font-semibold mx-2">Title: {{ rate.title }}</p>
    </div>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div><span class="uk-badge">ID   {{ rate._id  }}</span></div>
        <div><p class="uk-text-meta uk-margin-remove-top"> Category  {{ rate.category }}</p></div>
        <div>
            <div class="btn-group btn-group-rounded btn-group-scrollable">
                <button class="btn btn-primary  btn-sm" type="button"  uk-toggle="target: #add-to-project">Add to Project</button>
                <button class="btn btn-secondary  btn-sm" type="button"  uk-toggle="target: #clone-rate">Clone</button>               
                <button class="btn btn-error  btn-sm" 
                hx-delete="/industry_rate/{{rate._id}}" 
                hx-target="#dash-content-pane" 
                hx-confirm="Are you shure you want to DELETE RATE {{rate.title}}"
                >Delete</button>
            </div>
        </div>
    </div>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <p> Description:  {{ rate.get("description")  }}</p>
        </div>
        <table class="uk-table uk-table-small">
            <thead>
                <tr>
                    <th>property</th>
                    <th>unit</th>
                    <th>price</th>
                </tr>
                <tbody>
                    <tr>
                        <th>Metric </th>
                        <td>{{rate.metric.unit}}</td>
                        <td>{{rate.metric.price}}</td>
                    </tr>
                    <tr>
                        <th>Imperial</th>
                        <td>{{rate.imperial.unit}}</td>
                        <td>{{rate.imperial.price}}</td>
                    </tr>
                </tbody>
            </thead>
        </table>
        <div>
           
        </div>
    </div>
</div>
<!-- This is the modal -->
<div id="add-to-project"  uk-modal>
    <div class="uk-modal-dialog uk-modal-body bg-yellow-300 rounded-lg">
        <h4 class="uk-modal-title text-sm">Select a Project to Add {{ rate.get("title")  }} To.</h4>
       
        <select 
        class="mx-5 my-3 rounded-md"
        name="project_id" 
        hx-post="/add_project_rate/{{rate._id}}"
        hx-target="#message"
        aria-label="Custom controls"
        >
            <option value="">Active Projects</option>
           
            {% for project in projects %}
                <option class="uk-modal-close" value="{{project.id}}">{{ project.value.name }}</option>
            {% endfor %}
        </select>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
           
        </p>
    </div>
</div>


<!-- This is the clone rate  modal -->
<div id="clone-rate"  uk-modal>
    <div class="uk-modal-dialog uk-modal-body bg-blue-300 rounded-lg">
        <h4 class="text-lg text-center font-semibold"> Clone {{ rate.get("title")  }} </h4>
       
        <div class="text-xs">
            
            <form class="mx-auto flex w-full max-w-lg flex-col rounded-xl border border-border bg-backgroundSecondary p-4 sm:p-20" prevent-default>
                <div class="form-group">
                    <div class="flex w-full flex-col gap-2">
                        <div class="form-field hidden">
                            <label class="form-label">Id </label>            
                            <input type="text"  name="_id" value="{{rate._id}}" class="input max-w-full" />                        
                        </div>
                        <div class="form-field">
                            <label class="form-label">Title </label>            
                            <input type="text"  name="title" value="{{rate.title}}" class="input max-w-full" />                        
                        </div>
                        <div class="form-field">
                            <label class="form-label">
                                <span>Description</span>
                            </label>
                            <div class="form-control">
                                <input placeholder="Description here" type="textarea"  name="description" value="{{rate.description}}" class="input max-w-full" />
                            </div>
                        </div>
                        <div class="form-field">
                            <label class="form-label">
                                <span>Category</span>
                            </label>
                            <div class="form-control">
                                <input id="category" placeholder="Category here" type="text" name="category" class="input max-w-full" value="{{rate.category}}"/>
                                
                            </div>
                        </div>
                        <div class="flex flex-row">
                            <div class="flex flex-col mx-2 my-5">
                                <p class="text-xs">Metric Properties</p>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Unit</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Metric Unit here" type="text" name="metric_unit" value="{{rate.metric.unit}}" class="input max-w-full" />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Price Per Unit</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Price here" type="number" step="0.01" name="metric_price" value="{{rate.metric.price}}" class="input max-w-full" />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Output</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Output here" type="number" step="0.01" name="metric_output" value="{{rate.output.metric}}" class="input max-w-full" />
                                    </div>
                                </div>
                                
    
                            </div>
                            <div class="flex flex-col mx-2 my-5">
                                <p class="text-xs">Imperial Properties</p>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Unit</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Imperial Unit here" type="text" name="imperial_unit" value="{{rate.imperial.unit}}" class="input max-w-full" />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Price Per Unit</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Price here" type="number" step="0.01" name="imperial_price" value="{{rate.imperial.price}}" class="input max-w-full" />
                                    </div>
                                </div>
                                <div class="form-field">
                                    <label class="form-label">
                                        <span>Output</span>
                                    </label>
                                    <div class="form-control">
                                        <input placeholder="Output here" type="number" step="0.01" name="imperial_output" value="{{rate.output.imperial}}" class="input max-w-full" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-field pt-5">
                            <div class="form-control justify-between">
                                <button 
                                    type="button" 
                                    class="btn btn-secondary w-full uk-modal-close"
                                    hx-post="/clone_rate"
                                    hx-target="#dash-content-pane"
                                >Clone Rate</button>
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>

    </div>
</div>


<p class="text-xs">{{rate}}</p>